@import "../src/app/utilities/variables/variables.scss";

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181 !important;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: $colour_1;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: $colour_1 !important;
  font-weight: 400;
  margin-bottom: 30px;
}
.jumbotron {
  background-color: $background_colour_1;
  color: $colour_2;
  padding: 100px 25px;
  font-family: $font-family_1;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-tiny {
  color: $accent_colour;
  font-size: 25px;
}
.logo-small {
  color: $accent_colour;
  font-size: 50px;
}
.logo-medium {
  color: $accent_colour;
  font-size: 100px;
}
.logo {
  color: $accent_colour;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  .thumbnail-bottom {
    height: 85px;
    padding: 2px;
    color: #818181;
  }
}
.item {
  h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  span {
    font-style: normal;
  }
  img {
    width: 100%;
  }
}
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
.mr-10 {
  margin-right: 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-0 {
  padding-bottom: 0;
}
.pr-10 {
  padding-right: 10px;
}
.nobr {
  white-space: nowrap;
}
